---

interface Props {
  date: string;
  school: string;
  schoolUrl?: string;
  degree: string;
  city: string
}

const { school, schoolUrl, degree, city, date } = Astro.props;
---

<div
  class="relative mx-12 pb-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-yellow-400">{degree}</h3>
      <h4 class="flex font-semibold text-xl text-gray-600 dark:text-white">
        {school}
        {
        schoolUrl && 
          <a
            href={schoolUrl}
            target="_blank"
            rel="noopener noreferrer"
            style={{ marginLeft: "8px" }}
          >
            <svg
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
              style={{ verticalAlign: "middle" }}
            >
              <path
                d="M10.5 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V3.707L5.854 7.354a.5.5 0 1 1-.708-.708L9.293 3H8a.5.5 0 0 1 0-1h2.5zm-7 3A1.5 1.5 0 0 0 2 6.5v7A1.5 1.5 0 0 0 3.5 15h7A1.5 1.5 0 0 0 12 13.5V9a.5.5 0 0 1 1 0v4.5A2.5 2.5 0 0 1 10.5 16h-7A2.5 2.5 0 0 1 1 13.5v-7A2.5 2.5 0 0 1 3.5 4H8a.5.5 0 0 1 0 1H3.5z"
              ></path>
            </svg>
          </a>
        }
      </h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
        >{date} - {city}</time
      >
    </div>
  </div>

  </div>
</div>
